<!DOCTYPE html>

<title>Edit Attribut</title>

{% block body %}
    <h1>Edit Attribut</h1>

    {{ include('attribut/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attribut_index') }}">back to list</a>

    {{ include('attribut/_delete_form.html.twig') }}
{% endblock %}
