<!DOCTYPE html>

<title>New Attribut</title>

{% block body %}
    <h1>Create new Attribut</h1>

    {{ include('attribut/_form.html.twig') }}

    <a href="{{ path('attribut_index') }}">back to list</a>
{% endblock %}
